/* @import-normalize; */
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #c4c4c4;
  /* padding-top: 40px; */
  /* padding-bottom: 160px; */
  width: 100%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(./images/top-view-of-book-and-flowers.jpg);

  /* @include retina {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/Mobile/hero@2x.jpg);
    } */

  /* @include tablet {
      // width: 768px;
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/Tablet/hero.jpg);

      @include retina {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/Tablet/hero@2x.jpg);
      }
    } */

  /* @include desktop {
      padding-top: 200px;
      padding-bottom: 200px;
      // width: 1200px;
      height: 600px;
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/Desktop/hero.jpg);

      @include retina {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/Desktop/hero@2x.jpg);
      }

      @include desktop-more {
        width: 1600px;
      }
    } */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--primary-text-color-opposit);

      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

      @include desktop {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
      }
    }

    &__button {
      min-width: 216px;

      padding: 10px 32px;
      margin-left: auto;
      margin-right: auto;

      &:hover,
      &:focus {
        box-shadow: 0px 4px 4px var(--shadow-color);
      }
    } */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
p {
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}

ul {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

input {
  background-color: transparent;
  padding: 4px 6px;
  border-radius: 5px;
  /* Задаем прозрачный цвет фона */
  border: 1px solid #000;
  /* Задаем стиль и цвет рамки */
}

input:focus-visible {
  outline: none;
}

button {
  background-color: transparent;
  /* Задаем прозрачный цвет фона */
  border: 1px solid #000;
  /* Задаем стиль и цвет рамки */
  color: #000;
  /* Задаем цвет текста */
  cursor: pointer;
  border-radius: 5px;
}